# Data Cleaning and Manipulation - B

In [1]:
# import required packages
import pandas as pd

## Merging all excel sheets into one

In [2]:
# importing the first sheet of excel to just fetch the columns
d1 = pd.read_excel('/content/NBA_Shooting_Totals.xlsx', sheet_name=0)
cols = d1.columns.tolist().append('Season')

# create a new empty df with the above columns
df = pd.DataFrame(columns=cols)

In [3]:
# get all the names in the sheet and store it in SEASON variable
l = pd.read_excel("/content/NBA_Shooting_Totals.xlsx", None)
seasons = list(l.keys())

In [4]:
# append all the sheets in excel along with the SEASON
for i in range(21):
    dd = pd.read_excel('/content/NBA_Shooting_Totals.xlsx', sheet_name=i)
    dd['SEASON'] = seasons[i]
    df = df.append(dd)

#print(df.describe(include='all'))
#df.to_excel('~/Downloads/data.xlsx', index=False)

In [5]:
# df head
df.head()

      Unnamed: 0 Unnamed: 1 Unnamed: 2  ... Unnamed: 22 Unnamed: 23   SEASON
0         PLAYER       TEAM        AGE  ...         FGA         FG%  2018-19
1   Aaron Gordon        ORL         23  ...         251        33.9  2018-19
2  Aaron Holiday        IND         22  ...         110        34.5  2018-19
3    Abdel Nader        OKC         25  ...          58        29.3  2018-19
4     Al Horford        BOS         33  ...         182        36.8  2018-19

[5 rows x 25 columns]

In [6]:
# converting the years in SEASON to full form
df['SEASON'] = df['SEASON'].apply(lambda x: x[:-2]+'19'+x[-2:] if int(x[-2:]) > 80  else x[:-2]+'20'+x[-2:] )

In [7]:
# currenlty how season looks
df['SEASON'].unique()

array(['2018-2019', '2017-2018', '2016-2017', '2015-2016', '2014-2015',
       '2013-2014', '2012-2013', '2011-2012', '2010-2011', '2009-2010',
       '2008-2009', '2007-2008', '2006-2007', '2005-2006', '2004-2005',
       '2003-2004', '2002-2003', '2001-2002', '2000-2001', '1999-2000',
       '1998-1999'], dtype=object)

In [8]:
df.head()

      Unnamed: 0 Unnamed: 1 Unnamed: 2  ... Unnamed: 22 Unnamed: 23     SEASON
0         PLAYER       TEAM        AGE  ...         FGA         FG%  2018-2019
1   Aaron Gordon        ORL         23  ...         251        33.9  2018-2019
2  Aaron Holiday        IND         22  ...         110        34.5  2018-2019
3    Abdel Nader        OKC         25  ...          58        29.3  2018-2019
4     Al Horford        BOS         33  ...         182        36.8  2018-2019

[5 rows x 25 columns]

## Column Cleaning

In [9]:
# renaming 'Corener' to 'Corner' in columns
df.columns = df.columns.str.replace('Corener','Corner')

# removing 'Unnamed:' from all columns
df.columns = df.columns.str.replace('Unnamed:\s?\d+', '')

In [10]:
# merging columns and first data row
df.columns = df.columns + ' ' + df.iloc[0]

In [11]:
# get columns as list
cols = df.columns.to_list()
cols

[' PLAYER',
 ' TEAM',
 ' AGE',
 'Restricted Area FGM',
 ' FGA',
 ' FG%',
 'In the Paint (Non RA) FGM',
 ' FGA',
 ' FG%',
 'Mid Range FGM',
 ' FGA',
 ' FG%',
 'Left Corner 3 FGM',
 ' FGA',
 ' FG%',
 'Right Corner 3 FGM',
 ' FGA',
 ' FG%',
 'Corner 3 FGM',
 ' FGA',
 ' FG%',
 'Above the Break 3 FGM',
 ' FGA',
 ' FG%',
 'SEASON 2018-2019']

In [12]:
# making manual changes to the column names
cols[4] = 'Restricted Area ' + cols[4]
cols[5] = 'Restricted Area ' + cols[5]

cols[7] = 'In the Paint (Non RA) ' + cols[7]
cols[8] = 'In the Paint (Non RA) ' + cols[8]

cols[10] = 'Mid Range ' + cols[10]
cols[11] = 'Mid Range ' + cols[11]

cols[13] = 'Left Corner 3 ' + cols[13]
cols[14] = 'Left Corner 3 ' + cols[14]

cols[16] = 'Right Corner 3 ' + cols[16]
cols[17] = 'Right Corner 3 ' + cols[17]

cols[19] = 'Corner 3 ' + cols[19]
cols[20] = 'Corner 3 ' + cols[20]

cols[22] = 'Above the Break 3 ' + cols[22]
cols[23] = 'Above the Break 3 ' + cols[23]

In [13]:
# getting rid of whitespaces in columns
for i, col  in enumerate(cols):
  if col[0] == ' ':
    cols[i] = col[1:]

cols

['PLAYER',
 'TEAM',
 'AGE',
 'Restricted Area FGM',
 'Restricted Area  FGA',
 'Restricted Area  FG%',
 'In the Paint (Non RA) FGM',
 'In the Paint (Non RA)  FGA',
 'In the Paint (Non RA)  FG%',
 'Mid Range FGM',
 'Mid Range  FGA',
 'Mid Range  FG%',
 'Left Corner 3 FGM',
 'Left Corner 3  FGA',
 'Left Corner 3  FG%',
 'Right Corner 3 FGM',
 'Right Corner 3  FGA',
 'Right Corner 3  FG%',
 'Corner 3 FGM',
 'Corner 3  FGA',
 'Corner 3  FG%',
 'Above the Break 3 FGM',
 'Above the Break 3  FGA',
 'Above the Break 3  FG%',
 'SEASON 2018-2019']

In [14]:
# assigning the new cleaned columns to the dataframe
df.columns = cols

# removing the first row from the dataframe as it is merged in the columns
df = df[1:]

In [20]:
# extra column cleaning
df.columns = df.columns.str.replace('2018-2019','')
df.columns = df.columns.str.strip()

In [22]:
# just a quick look at the dataframe
df.head()

            PLAYER TEAM  ... Above the Break 3  FG%     SEASON
1     Aaron Gordon  ORL  ...                   33.9  2018-2019
2    Aaron Holiday  IND  ...                   34.5  2018-2019
3      Abdel Nader  OKC  ...                   29.3  2018-2019
4       Al Horford  BOS  ...                   36.8  2018-2019
5  Al-Farouq Aminu  POR  ...                   34.6  2018-2019

[5 rows x 25 columns]

## Data Joining

In [31]:
free_throw = pd.read_csv('/content/General_Totals_All_Seasons_Cleaned.csv')
free_throw.head()

             PLAYER TEAM  AGE  GP   W  ...      FP  DD2  TD3  +/-     SEASON
0    Michael Jordan  CHI   34  82  69  ...  3923.4    9    1  820  1996-1997
1       Karl Malone  UTA   33  82  64  ...  4021.8   43    1  767  1996-1997
2         Glen Rice  CHH   30  79  52  ...  2853.6    0    0  176  1996-1997
3    Mitch Richmond  SAC   32  81  34  ...  3173.8    4    1  -96  1996-1997
4  Latrell Sprewell  GSW   26  80  29  ...  3349.7   15    1 -216  1996-1997

[5 rows x 30 columns]

In [32]:
free_throw = free_throw[['PLAYER', 'Free Throw FGM', 'Free Throw FGA', 'Free Throw FG%', 'SEASON', 'TEAM']]

In [33]:
free_throw.head()

             PLAYER  Free Throw FGM  ...     SEASON  TEAM
0    Michael Jordan             480  ...  1996-1997   CHI
1       Karl Malone             521  ...  1996-1997   UTA
2         Glen Rice             464  ...  1996-1997   CHH
3    Mitch Richmond             457  ...  1996-1997   SAC
4  Latrell Sprewell             493  ...  1996-1997   GSW

[5 rows x 6 columns]

In [34]:
df_merged = pd.merge(df, free_throw,  how='left', on=['PLAYER','SEASON', 'TEAM'])
df_merged.head()

            PLAYER TEAM AGE  ... Free Throw FGM Free Throw FGA Free Throw FG%
0     Aaron Gordon  ORL  23  ...            NaN            NaN            NaN
1    Aaron Holiday  IND  22  ...            NaN            NaN            NaN
2      Abdel Nader  OKC  25  ...            NaN            NaN            NaN
3       Al Horford  BOS  33  ...            NaN            NaN            NaN
4  Al-Farouq Aminu  POR  28  ...            NaN            NaN            NaN

[5 rows x 28 columns]

## Data Structuring

In [38]:
# melting the dataframe
df_melt = pd.melt(df_merged, id_vars=['PLAYER','TEAM',	'AGE', 'SEASON'], value_name='VALUE')

In [40]:
# splitting the column 'variable'
df_melt['STAT'] = df_melt['variable'].apply(lambda x: x[-3:])
df_melt['ZONE'] = df_melt['variable'].apply(lambda x: x[:-3])

In [41]:
# just a quick look at dataframe
df_melt.sort_values(by=['PLAYER', 'ZONE']).head(20)

            PLAYER TEAM AGE  ... VALUE STAT                 ZONE
184175  A.C. Green  MIA  37  ...     0  FGM   Above the Break 3
184617  A.C. Green  LAL  36  ...     1  FGM   Above the Break 3
185057  A.C. Green  DAL  35  ...     0  FGM   Above the Break 3
193938  A.C. Green  MIA  37  ...     4  FGA  Above the Break 3
194380  A.C. Green  LAL  36  ...     2  FGA  Above the Break 3
194820  A.C. Green  DAL  35  ...     5  FGA  Above the Break 3
203701  A.C. Green  MIA  37  ...     0  FG%  Above the Break 3
204143  A.C. Green  LAL  36  ...    50  FG%  Above the Break 3
204583  A.C. Green  DAL  35  ...     0  FG%  Above the Break 3
154886  A.C. Green  MIA  37  ...     0  FGM            Corner 3
155328  A.C. Green  LAL  36  ...     0  FGM            Corner 3
155768  A.C. Green  DAL  35  ...     0  FGM            Corner 3
164649  A.C. Green  MIA  37  ...     1  FGA           Corner 3
165091  A.C. Green  LAL  36  ...     1  FGA           Corner 3
165531  A.C. Green  DAL  35  ...     2  FGA           Corner 3
174412  A.C. Green  MIA  37  ...     0  FG%           Corner 3
174854  A.C. Green  LAL  36  ...     0  FG%           Corner 3
175294  A.C. Green  DAL  35  ...     0  FG%           Corner 3
213464  A.C. Green  MIA  37  ...    79  FGM          Free Throw
213906  A.C. Green  LAL  36  ...    66  FGM          Free Throw

[20 rows x 8 columns]

In [42]:
# dropping column 'variable' 
df_melt.drop(columns=['variable'], inplace=True)

In [43]:
# removing extra whitespaces from the column 'ZONE'
df_melt['ZONE'] = df_melt['ZONE'].str.strip()

In [44]:
# un-pivoting the dataframe
df_pivot = pd.pivot(df_melt, index=['PLAYER','TEAM', 'AGE','SEASON','ZONE'], columns='STAT', values='VALUE')
df_pivot.reset_index(inplace=True)

In [45]:
# quick look at the current dataframe
df_pivot.head(20)

STAT      PLAYER TEAM AGE     SEASON                   ZONE   FG%  FGA FGM
0     A.C. Green  DAL  35  1998-1999      Above the Break 3     0    5   0
1     A.C. Green  DAL  35  1998-1999               Corner 3     0    2   0
2     A.C. Green  DAL  35  1998-1999             Free Throw  57.7   52  30
3     A.C. Green  DAL  35  1998-1999  In the Paint (Non RA)  46.7   15   7
4     A.C. Green  DAL  35  1998-1999          Left Corner 3     0    2   0
5     A.C. Green  DAL  35  1998-1999              Mid Range  39.2  158  62
6     A.C. Green  DAL  35  1998-1999        Restricted Area    52   75  39
7     A.C. Green  DAL  35  1998-1999         Right Corner 3     0    0   0
8     A.C. Green  LAL  36  1999-2000      Above the Break 3    50    2   1
9     A.C. Green  LAL  36  1999-2000               Corner 3     0    1   0
10    A.C. Green  LAL  36  1999-2000             Free Throw  69.5   95  66
11    A.C. Green  LAL  36  1999-2000  In the Paint (Non RA)  41.7   48  20
12    A.C. Green  LAL  36  1999-2000          Left Corner 3     0    1   0
13    A.C. Green  LAL  36  1999-2000              Mid Range  39.6  197  78
14    A.C. Green  LAL  36  1999-2000        Restricted Area  53.6  138  74
15    A.C. Green  LAL  36  1999-2000         Right Corner 3     0    0   0
16    A.C. Green  MIA  37  2000-2001      Above the Break 3     0    4   0
17    A.C. Green  MIA  37  2000-2001               Corner 3     0    1   0
18    A.C. Green  MIA  37  2000-2001             Free Throw  71.2  111  79
19    A.C. Green  MIA  37  2000-2001  In the Paint (Non RA)  24.1   29   7

## Exporting the Final dataframe

In [47]:
# exportingthe dataframe to new CSV
df_pivot.to_csv('Cleaned_Shooting_Data_w_FreeThrow.csv', index = False, header=True)